

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  /* background: linear-gradient(45deg, #ea4f4c 0%, #6d0019 100%); */

  background-color: #ea4f4c;
}

body .signature {
  font-style: italic;
  font-size: 12px;
  color: #212121;
  padding-top: 15px;
  transition: all 0.3s ease-in-out;
}

body .signature:hover {
  color: white;
}


body .navigationWrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.navigationWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #222;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
  color: white;
  text-transform: uppercase;
  overflow: hidden;
  width: 99%;
}

.navigationWrapper .logoWrapper {
  display: flex;
}

.navigationWrapper .logoWrapper .stylish {
  font-weight: bold;
}

.navigationWrapper .logoWrapper .logo {
  padding-left: 4px;
  color: #ea4f4c;
}

.navigationWrapper .navigation {
  display: flex;
  list-style-type: none;
}

.navigationWrapper .navigation li {
  opacity: 1;
  list-style-type: none;
  color: white;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.navigationWrapper .navigation .parent {
  padding: 0 10px;
  cursor: pointer;
}

.navigationWrapper .navigation .parent .link {
  position: relative;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  color: white;
}

.navigationWrapper .navigation .parent .link:hover {
  color: #ea4f4c;
}

.navigationWrapper .navigation .parent .link .fa-minus {
  opacity: 0;
  transition: all 0.3s ease-in-out;
  position: absolute;
  left: -16px;
  top: 3px;
}

.navigationWrapper .navigation .parent .link .fa-plus {
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

.navigationWrapper .navigation .parent .link .fas {
  color: #ea4f4c;
  margin: -2px 4px 0;
  font-size: 10px;
  transition: all 0.3s ease-in-out;
}

.active.parent {
  transform: translate(-40px, -25px);
}

.active.parent .link {
  font-size: 12px;
}

.active.parent .link .fa-minus {
  opacity: 1 !important;
  font-size: 8px;
}

.active.parent .link .fa-plus {
  opacity: 0 !important;
}


.invisible {
  opacity: 0 !important;
  transform: translate(50px, 0);
}

.gameBlock {
  height: 1000px;
  margin: 0 auto;
  display: block;
  text-align: center;
}

.gameBlock p {
  font-size: 30px;
  font-weight: bold;
}

.gameBlock button {
  font-size: 20px;
  font-weight: bold;
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}

.gameBlock button:hover {
  background-color: #ea4f4c;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
}

.currentGameBlock img {
  height: 600px;
}
/* footer css */
.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.content-wrap {
  flex: 1;
}

/* sliding text */
.SlidingText {

  
  
  /*animation: slidingText 2s linear infinite;*/
  animation: slidingText 1s ease-out ;
  transition-timing-function: cubic-bezier(0,1.5,0.5,1);
  /* transition-timing-function: cubic-bezier(.2,.94,.61,.55); */
}
@keyframes slidingText {
   0% { transform: translateX(-1000px) skew(0deg, 0deg); }
  
}

.container {
  background-color: #222;
        width: 400px;
        height: 400px;
        margin: 7em auto;
        border-radius: 1.5em;
        box-shadow: 5px 11px 35px 2px rgba(0, 0, 0, 0.14);; 
}

.container2 {
  background-color: #222;
        width: 400px;
        height: 500px;
        margin: 7em auto;
        border-radius: 1.5em;
        box-shadow: 5px 11px 35px 2px rgba(0, 0, 0, 0.14);; 
}

.error-text {
  text-align: center;
  color: #ea4f4c;
}

.loginForm, .signUpStl {
  padding-top: 40px;
}

.topHeader {
  text-align: center;
  padding-top: 40px;
        color: #ea4f4c;
        font-family: 'Ubuntu', sans-serif;
        font-weight: bold;
        font-size: 23px;
}

.emailStl, 
.pwdStl, 
.fName, 
.lName, 
.emailStl2, 
.pwdSU {
   width: 76%;
    color: #ea4f4c;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 1px;
    background: whitesmoke;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 46px;
    text-align: center;
    margin-bottom: 27px;
    font-family: 'Ubuntu', sans-serif;
}

.emailStl:focus, .pwdStl:focus {
  border: 2px solid rgba(0, 0, 0, 0.18) !important;
  
}

.pwdStl:hover, .emailStl:hover {
  background: rgb(125, 124, 124);
}

.sbmBtn, .lBtn {
  cursor: pointer;
  border-radius: 20px;
        color: #fff;
        background: linear-gradient(45deg, #ea4f4c 0%, #6d0019 100%);
        border: 0;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 10px;
        padding-top: 10px;
        font-family: "Roboto", sans-serif;
        margin-left: 35%;
        font-size: 13px;
        box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

.sbmBtn:hover, .lBtn:hover {
  transition: all 0.5s ease-in-out;
  background:linear-gradient(45deg, #b33c3a 0%, #4f0113 100%);
}

.toLogin {
  padding-top: 40px;
  color: #ffffff;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 23px;
  text-decoration: none;
}

.logout {
  color: #ffffff;
  font-family: 'Ubuntu', sans-serif;
  text-decoration: none;
}

.logout:hover{
  color: #ea4f4c;

}

@media (max-width: 600px) {
  .container {
      border-radius: 0px;
  }
  }